Client2/src/de/css_lims/dkmsroboterrueckmeldung/DkmsRoboterRueckmeldung.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.css-lims.de/DkmsRoboterRueckmeldung/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DkmsRoboterRueckmeldung" targetNamespace="http://www.css-lims.de/DkmsRoboterRueckmeldung/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.css-lims.de/DkmsRoboterRueckmeldung/">
      <xsd:element name="RueckmeldungRequest">
        <!-- Container für die Daten des Requests -->
        <xsd:complexType>
          <xsd:sequence>
            <!-- Statischer Teil des Requests. Ist bei jeder Nachricht vorhanden -->
            <xsd:element name="requestTyp" type="xsd:integer"/>
            <!-- Typisierung des Request, standard=1 -->
            <xsd:element name="requestId" type="xsd:string"/>
            <!-- Eindeutige Nummer des Requests -->
            <xsd:element name="hinweisText" nillable="true" type="xsd:string"/>
            <!-- Hinweistext -->
            <xsd:element name="roboterId" type="xsd:string"/>
            <!-- Eindeutige Nummer oder Bezeichnung des sendenden Roboters -->
            <xsd:element name="programmId" type="xsd:string"/>
            <!-- Eindeutige Nummer oder Bezeichnung des Programms das der Roboter ausführt  -->
            <xsd:element name="userBedienerId" type="xsd:string"/>
            <!-- eindeutiger Name des Systembenutzers im iLims -->
            <xsd:element name="userKontrolleurId" nillable="true" type="xsd:string"/>
            <!-- eindeutiger Name des Systembenutzers im iLims -->
            <xsd:element name="zeitstempel" type="xsd:dateTime"/>
            <!-- Zeitstempel: Datum und Uhrzeit -->
            <xsd:element name="rackId" type="xsd:string"/>
            <!-- Nr des Racks auf dem die Rückmeldung erfolgen soll -->
            <xsd:element maxOccurs="1" name="dynamischerTeil">
              <!-- Dynmischer Teil des Requests. Wird für jede Nachricht angepasst. -->
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="dynamischerTyp">
                    <!-- Kapselt Objekte von demselben Typ. Mit derselben Daten-Struktur. -->
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <!-- Name des Datentyps -->
                        <xsd:element maxOccurs="unbounded" name="dynamischesObjekt">
                          <!-- Kapselt ein Objekt des Datentyps -->
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="position" type="xsd:integer"/>
                              <!-- Laufende Nummer um Objekte mit Index zu identifizieren -->
                              <xsd:element maxOccurs="unbounded" name="wertObjekt">
                                <!-- Kapselt ein Schlüssel-Wert-Paar für ein Dynmisches Objekt-->
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="name" type="xsd:string"/>
                                    <!-- Schlüssel des Schlüssel-Wert-Paares -->
                                    <xsd:element name="inhalt" type="xsd:string"/>
                                    <!-- Wert des Schlüssel-Wert-Paares -->
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RueckmeldungResponse">
        <!-- Container für die Daten des Response  -->
        <xsd:complexType>
          <xsd:attribute name="requestId" type="xsd:string" use="required"/>
          <!--Eindeutige Nummer des Requests  -->
          <xsd:attribute name="status" type="xsd:integer" use="required"/>
          <!-- StatusFlag. 1=Erfolg, 2=Fehler (kann erweitert werden) -->
          <xsd:attribute name="meldung" type="xsd:string" use="optional"/>
          <!-- Statusmeldung. Bei Fehler wird Fehlernachricht mit gesandt -->
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RueckmeldungRequest">
    <wsdl:part element="tns:RueckmeldungRequest" name="RueckmeldungRequest"/>
  </wsdl:message>
  <wsdl:message name="RueckmeldungResponse">
    <wsdl:part element="tns:RueckmeldungResponse" name="RueckmeldungResponse"/>
  </wsdl:message>
  <wsdl:portType name="DkmsRoboterRueckmeldung">
    <wsdl:operation name="DkmsRoboterRueckmeldung">
      <wsdl:input message="tns:RueckmeldungRequest"/>
      <wsdl:output message="tns:RueckmeldungResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DkmsRoboterRueckmeldungbinding" type="tns:DkmsRoboterRueckmeldung">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DkmsRoboterRueckmeldung">
      <soap:operation soapAction="http://www.css-lims.de/DkmsRoboterRueckmeldung/DkmsRoboterRueckmeldung"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DkmsRoboterRueckmeldung">
    <wsdl:port binding="tns:DkmsRoboterRueckmeldungbinding" name="DkmsRoboterRueckmeldung">
      <soap:address location="http://192.168.22.58:8080/DkmsRoboter2/services/DkmsRoboterRueckmeldung"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>